.who label {
    color:#fff;
}

.who  input {
    border-color: white;
}


.contactS {
    width: auto;
    font-family: inherit;
    font-size: 18px;
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.contactS:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.contactS:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.contactS span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.contactS svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
    transform: rotate(45deg);
}

.contactS .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.contactS:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.contactS:hover svg {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

