.image-gallery-image {
    cursor: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
}

.image-gallery-image:hover {
    border: none;
}

.imageG-cover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width : 400px) {
    .imageG-cover {
        margin: auto;
        height: 89vh
    }
}

/* Buttons */
.image-gallery-right-nav ,
.image-gallery-left-nav {
    position: fixed;
    top: 50%;
}

.image-gallery-play-button ,
.image-gallery-fullscreen-button {
    position: fixed;
}

.image-gallery-index {
    top: 0;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    background: rgb(0 0 0 / 58%);;
}

.image-gallery-bullets {
    top: -22px;
}